# This jinja-yaml defines a resource dictionary for each task.
#
# Entries can be added to either the 'parameters' subdictionary or
#    valid run dictionaries (i.e. gdas, gfs, enkfgdas, enkfgfs).
#    Entries should not be in both parameters and a run dictionary as this
#    will result in potentially non-reproducable/unexpected behavior.
#
# Required entries for each task are
#    num_PEs (integer) - Minimum number of process elements.
#              The final PE count may be higher depending on the system
#              specifications.
#
#    walltime (string) - Maximum time required.
#                        Format: "HH:MM:SS"
#
# Optional entries that are used referenced at setup time
#    mem_per_PE - Memory required per PE.
#                 Default: mem_per_core * threads
#                 Formats:
#                         - NNN(.N)NB where NNN.N are numbers and S is one of
#                           G (giga), M (mega), K (kilo)
#                         - "max" if all available memory should be used
#
#    threads - Number of openMP threads per PE.
#            - NOTE this is only for openMP and should not be
#                   used to adjust memory.  Use mem_per_PE instead.
#
#    adjustable_threads - Boolean whether the thread count can be adjusted
#
# Additional entries may also be added.  Doing so will prepend the key/value
#    pair to the appropriate config file.  If the entry is in parameters, it
#    will be added as
#         export <key>=<value>
#    If the entry is in a run-specific dictionary, it will be added as
#         if [[ ${RUN} == <run> ]]; then
#             export <key>=<value>
#         fi
#
# Lastly, if machine-specific task parameters need to be specified, these may
#    be added to machines/<machine>_task_resources.yaml.j2.  Any task specified
#    in this way will override the definitions in this file.  In almost all cases,
#    this is not necessary except perhaps for the GSI analysis (task "anal").

# Create a namespace of machine specifics then update them by including the machine yaml

check_configuration:
    # Determine if the configuration given is valid.
    {% if MODE == "forecast-only" or MODE == "cycled" %}
        {% set valid = True %}
    valid_mode: True
    {% else %}
        {% set valid = False %}
    valid_mode: False
    reason_mode: "Invalid mode selected: {{ MODE }}"
    {% endif %}

    {% if DO_ATM == True %}
        {% if CASE == "C48" or CASE == "C96" or CASE == "C192" or CASE == "C384" or
          CASE == "C768" or CASE == "C1152" or CASE == "C3072" %}
    valid_atm: True
        {% else %}
    valid_atm: False
    reason_atm: "Invalid CASE specified: {{ CASE }}"
            {% set valid = False %}
        {% endif %}
    {% endif %}

    {% if DO_HYBVAR == True %}
        {% if CASE_ENS == "C48" or CASE_ENS == "C96" or CASE_ENS == "C192" or
          CASE_ENS == "C384" %}
    valid_atmens: True
        {% else %}
    valid_atmens: False
    reason_atmens: "Invalid CASE_ENS specified: {{ CASE_ENS }}"
            {% set valid = False %}
        {% endif %}
    {% else %}
        # Not hybrid
        # Set CASE_ENS to 0 just to prevent undefined below.
        {% set CASE_ENS = 0 %}
    {% endif %} # Ensemble resolution

    {% if DO_OCN == True %}
        {% if OCNRES == "050" or OCNRES == "100" or OCNRES == "500" %}
    valid_ocn: True
        {% else %}
    valid_ocn: False
    reason_ocn: "Invalid OCNRES specified: {{ OCNRES }}"
            {% set valid = False %}
        {% endif %}
    {% endif %}

    {% if DO_ICE == True %}
        {% if DO_OCN and ICERES == OCNRES and (ICERES == "050" or ICERES == "100" or ICERES == "500") %}
    valid_ice: True
        {% else %}
    valid_ice: False
            {% if not DO_OCN == True %}
                {% set reason_ice = "Cannot run ICE without OCN (DO_OCN must also be YES)" %}
            {% elif ICERES != OCNRES %}
                {% set reason_ice = "ICERES ({{ ICERES }}) cannot be different than OCNRES ({{ OCNRES }})" %}
            {% else %}
                {% set reason_ice = "Invalid ICERES ({{ ICERES }})"
            {% endif %}
    reason_ice: {{ reason_ice }}
            {% set valid = False %}
        {% endif %}
    {% endif %}

    {% if DO_AERO == True %}
        {% if DO_ATM == True %}
            {% if MODE == "forecast-only" %}
    valid_aero: True
            {% elif MODE == "cycled" and (CASE == "C48" or CASE == "C96" or CASE == "C192" or
              CASE == "C384" or CASE == "C768") %}
    valid_aero: True
    valid_aero_anl: True
            {% else %}
                {% set valid = False %}
    valid_aero: False
    reason_aero: "Invalid aerosol resolution (CASE): {{ CASE }}"
            {% endif %}
        {% endif %}
    {% endif %}

    {% if DO_WAVE == True %}
        {% if DO_ATM == True and ( waveGRD == "gnh_10m;aoc_9km;gsh_15m" or
                       waveGRD == "gwes_30m" or waveGRD == "glo_025" or
                       waveGRD == "glo_200" or waveGRD == "glo_500" or
                       waveGRD == "mx025" or waveGRD == "uglo_100km" or
                       waveGRD == "uglo_m1g16") %}
    valid_wave: True
        {% else %}
            {% set valid = False %}
    valid_wave: False
            {% if DO_ATM == False %}
    reason_wave: "Cannot run waves without ATM (DO_ATM must be YES)"
            {% else %}
    reason_wave: "Invalid WW3 resolution (waveGRD): {{ waveGRD }}"
            {% endif %}
        {% endif %}
    {% endif %}

    valid: {{ valid }}

prep:
    parameters:
        walltime: "00:30:00"
        num_PEs: 4
        mem_per_PE: "20GB"

prepsnowobs:
    parameters:
        walltime: "00:05:00"
        num_PEs: 1
        mem_per_PE: "max"

prepatmiodaobs:
    parameters:
        walltime: "00:30:00"
        num_PEs: 1
        mem_per_PE: "max"

aerosol_init:
    parameters:
        walltime: "00:05:00"
        num_PEs: 1
        mem_per_PE: "6GB"

waveinit:
    parameters:
        walltime: "00:10:00"
        num_PEs: 12
        mem_per_PE: "200MB"

waveprep:
    parameters:
        walltime: "00:10:00"

    gfs:
        num_PEs: 65
        mem_per_PE: "2400MB"
    gdas:
        num_PEs: 5
        mem_per_PE: "20GB"

wavepostsbs:
    parameters:
        num_PEs: 8
        mem_per_PE: "1300MB"

    gdas:
        walltime: "00:20:00"
    gfs:
        walltime: "03:00:00"

wavepostbndpnt:
    parameters:
        walltime: "01:00:00"
        num_PEs: 240
        mem_per_PE: "default"

wavepostbndpntbll:
    parameters:
        walltime: "01:00:00"
        num_PEs: 448
        mem_per_PE: "default"

wavepostpnt:
    parameters:
        walltime: "04:00:00"
        num_PEs: 200
        mem_per_PE: "default"

wavegempak:
    parameters:
        walltime: "02:00:00"
        num_PEs: 1
        mem_per_PE: "1GB"

waveawipsbulls:
    parameters:
        walltime: "00:20:00"
        num_PEs: 1
        mem_per_PE: "default"

waveawipsgridded:
    parameters:
        walltime: "02:00:00"
        num_PEs: 1
        mem_per_PE: "1GB"

atmanlinit:
    parameters:
        walltime: "00:10:00"
        num_PEs: 1
        mem_per_PE: "3GB"
        layout_x: @LAYOUT_X_ATMANL@
        layout_y: @LAYOUT_Y_ATMANL@
        layout_gsib_x: {{ @IO_LAYOUT_X@ * 3 }}
        layout_gsib_y: {{ @IO_LAYOUT_Y@ * 2 }}

atmanlvar:
    parameters:
        walltime: "00:30:00"
        num_PEs: {{ @LAYOUT_X_ATMANL@ * @LAYOUT_Y_ATMANL@ * 6 }}
        mem_per_PE: "default"
        layout_x: @LAYOUT_X_ATMANL@
        layout_y: @LAYOUT_Y_ATMANL@
        layout_io_x: @IO_LAYOUT_X@
        layout_io_y: @IO_LAYOUT_Y@

atmanlfv3inc:
    parameters:
        walltime: "00:30:00"
        num_PEs: {{ @LAYOUT_X_ATMANL@ * @LAYOUT_Y_ATMANL@ * 6 }}
        mem_per_PE: "default"
        layout_x: @LAYOUT_X_ATMANL@
        layout_y: @LAYOUT_Y_ATMANL@
        layout_io_x: @IO_LAYOUT_X@
        layout_io_y: @IO_LAYOUT_Y@

atmanlfinal:
    parameters:
        num_PEs: {{ host_info.cores_per_node }}
        walltime: "00:30:00"
        mem_per_PE: "default"

snowanl:
    {% if CASE == "C768" %}
        {% set layout_x_snowanl, layout_y_snowanl == (6, 6) %}
    {% elif CASE == "C384" %}
        {% set layout_x_snowanl, layout_y_snowanl == (5, 5) %}
    {% elif CASE == "C192" or CASE == "C96" or CASE == "C48" %}
        {% set layout_x_snowanl, layout_y_snowanl == (1, 1) %}
    {% else %}
        {% set layout_x_snowanl, layout_y_snowanl == (0, 0)
    {% endif %}
    parameters:
        num_PEs: {{ layout_x_snowanl * layout_y_snowanl * 6 }}
        walltime: "00:15:00"
        mem_per_PE: "default"
        layout_x: {{ layout_x_snowanl }}
        layout_y: {{ layout_y_snowanl }}
        layout_io_x: {{ @IO_LAYOUT_X@ }}
        layout_io_y: {{ @IO_LAYOUT_Y@ }}

aeroanlinit:
    {% if CASE == "C768" %}
        {% set layout_x_aeroanlinit, layout_y_aeroanlinit == (8, 8) %}
    {% elif CASE == "C384" %}
        {% set layout_x_aeroanlinit, layout_y_aeroanlinit == (8, 8) %}
    {% elif CASE == "C192" or CASE == "C96" %}
        {% set layout_x_aeroanlinit, layout_y_aeroanlinit == (8, 8) %}
    {% elif CASE == "C48" %}
        {% set layout_x_aeroanlinit, layout_y_aeroanlinit == (1, 1) %}
    {% else %}
        {% set layout_x_aeroanlinit, layout_y_aeroanlinit == (0, 0)
    {% endif %}
    parameters:
        num_PEs: 1
        walltime: "00:10:00"
        mem_per_PE: "3GB"
        layout_x: {{ layout_x_aeroanlinit }}
        layout_y: {{ layout_y_aeroanlinit }}

aeroanlrun:
    {% if CASE == "C768" or CASE == "C384" or CASE == "C192" or CASE == "C96" %}
        {% set layout_x, layout_y = (8, 8) %}
    {% elif CASE == "C48" %}
        {% set layout_x, layout_y = (1, 1) %}
    {% else %}
        {% set layout_x, layout_y = (0, 0) %}
    {% endif %}

    parameters:
        num_PEs: {{ layout_x * layout_y * 6 }}
        walltime: "00:30:00"
        mem_per_PE: "default"
        layout_x: {{ layout_x }}
        layout_y: {{ layout_y }}

aeroanlfinal:
    parameters:
        num_PEs: 1
        walltime: "00:10:00"
        mem_per_PE: "3GB"

ocnanalprep:
    parameters:
        num_PEs: 1
        walltime: "00:10:00"
        mem_per_PE: "24GB"

prepoceanobs:
    parameters:
        num_PEs: 1
        walltime: "00:10:00"
        mem_per_PE: "48GB"

ocnanalbmat:
    {% if OCNRES == "025" %}
        {% set num_PEs = 480 %}
    {% elif OCNRES == "050" %}
        {% set num_PEs = 16 %}
    {% elif OCNRES == "500" %}
        {% set num_PEs = 16 %}
    {% else %}
        {% set num_PEs = 0 %}
    {% endif %}

    parameters:
        num_PEs: {{ num_PEs }}
        walltime: "00:15:00"
        mem_per_PE: "default"

ocnanalrun:
{% set walltime = "00:15:00" %}
{% if OCNRES == "025" %}
    {% set num_PEs, mem_per_PE = (480, "max") %}
{% elif OCNRES == "050" or OCNRES == "500" %}
    {% set num_PEs, mem_per_PE = (16, "max") %}
{% elif OCNRES == "050" or OCNRES == "500" %}
    {% set num_PEs, mem_per_PE = (16, "1600MB") %}
{% else %}
    {% set num_PEs, mem_per_PE, walltime = (0, 0, "00:00:00") %}
{% endif %}

    parameters:
        num_PEs: {{ num_PEs }}
        mem_per_PE: {{ mem_per_PE }}
        walltime: {{ waltime }}

ocnanalecen:
    {% set wallclock = "00:10:00" %}
    {% if OCNRES == "025" %}
        {% set num_PEs, mem_per_PE = (40, "default") %}
    {% elif OCNRES == "050" %}
        {% set num_PEs, mem_per_PE = (16, "max") %}
    {% elif OCNRES == "500" %}
        {% set num_PEs, mem_per_PE = (16, "1600MB") %}
    {% else %}
        {% set num_PEs, mem_per_PE, walltime = (0, 0, "00:00:00") %}
    {% endif %}

    parameters:
        walltime: {{ walltime }}
        num_PEs: {{ num_PEs }}
        mem_per_PE: {{ mem_per_PE }}

ocnanalletkf:
    {% set walltime = "00:10:00" %}
    {% if OCNRES == "025" %}
        {% set num_PEs, mem_per_PE = (480, "default") %}
    {% elif OCNRES == "050" or OCNRES == "500" %}
        {% set num_PEs, mem_per_PE = (16, "max") %}
    {% elif OCNRES == "050" or OCNRES == "500" %}
        {% set num_PEs, mem_per_PE = (16, "1600MB") %}
    {% else %}
        {% set num_PEs, mem_per_PE, walltime = (0, 0, "00:00:00") %}
    {% endif %}

    parameters:
        walltime: {{ walltime }}
        num_PEs: {{ num_PEs }}
        mem_per_PE: {{ mem_per_PE }}

ocnanalchkpt:
    parameters:
        {% set walltime = "00:10:00" %}
        {% if OCNRES == "025" %}
            {% set num_PEs, mem_per_PE = (40, "3200MB") %}
        {% elif OCNRES == "050" %}
            {% set num_PEs, mem_per_PE = (16, "2GB") %}
        {% elif OCNRES == "500" %}
            {% set num_PEs, mem_per_PE = (8, "4GB") %}
        {% else %}
            {% set num_PEs, mem_per_PE, walltime = (8, "4GB", "00:00:00") %}
        {% endif %}
        num_PEs: {{ num_PEs }}
        mem_per_PE: {{ mem_per_PE }}
        walltime: {{ walltime }}

ocnanalpost:
    parameters:
        walltime: "00:30:00"
        num_PEs: {{ host_info.cores_per_node }}

ocnanalvrfy:
    parameters:
        walltime: "00:35:00"
        num_PEs: 1
        mem_per_PE: "24GB"

anal:
    parameters:
        mem_per_PE: "max"
        adjustable_threads: True

    {% if CASE == "C768" %}
        {% set threads, num_PEs = (5, 780) %}
    {% elif CASE == "C384" %}
        {% set threads, num_PEs = (10, 160) %}
    {% elif CASE == "C192" or CASE == "C96" or CASE == "C48" %}
        {% set threads, num_PEs = (5, 84) %}
    {% else %}
        {% set threads, num_PEs = (0, 0) %}
    {% endif %}

    gdas:
        wallclock: "01:20:00"
        num_PEs: {{ num_PEs }}
        threads: {{ threads }}

    gfs:
        {% if CASE == "C768" %}
            {% set num_PEs = 825 %}
        {% endif %}

        wallclock: "01:20:00"
        num_PEs: {{ num_PEs }}
        threads: {{ threads }}

analcalc:
    # The analcalc job consists of a few sub jobs, each requiring a different
    # number of tasks.
    # echgres is run as part of analcalc and needs a different layout.
    #    - The number of tasks is the length of IAUFHRS.

    gdas:
        nth_echgres: 4

    gfs:
        # TODO Determine if this level of threading is really needed or just to resolve memory
        nth_echgres: 12

    parameters:
        walltime: "00:10:00"
        num_PEs: 127
        mem_per_PE: "1200MB"

analdiag:
    parameters:
        walltime: "00:15:00"
        num_PEs: 96             # Should be at least twice npe_ediag
        mem_per_PE: "1200MB"

sfcanl:
    parameters:
        walltime: "00:20:00"
        num_PEs: 6
        mem_per_PE: "15G"

fcst:
    parameters:
        mem_per_PE: "max"

    # Deterministic settings
    {% set atm_res = CASE %}
    {% if DO_OCN == True %}{% set ocn_res = OCNRES %}{% endif %}
    {% if DO_ICE == True %}{% set ice_res = ICERES %}{% endif %}
    {% if DO_WAVE == True %}{% set wave_grid = waveGRD %}{% endif %}
    {% if DO_AERO == True %}{% set aero_res = CASE %}{% endif %} # Not used, but define anyway

    gfs:
        {% set ufs_run = "gfs" %}
        {% filter indent(width=12) %}
        {% include "ufs_resources.yaml.j2" %}
        {% endfilter %}
    gdas:
        {% set ufs_run = "gdas" %}
        {% filter indent(width=12) %}
        {% include "ufs_resources.yaml.j2" %}
        {% endfilter %}

efcs:
    parameters:
        mem_per_PE: "max"

    # Ensemble settings
    {% set atm_res = CASE_ENS %}
    {% if DO_OCN == True %}{% set ocn_res = OCNRES %}{% endif %}
    {% if DO_ICE == True %}{% set ice_res = ICERES %}{% endif %}
    {% if DO_WAVE == True %}{% set wave_grid = waveGRD %}{% endif %}
    {% if DO_AERO == True %}{% set aero_res = CASE %}{% endif %} # Not used, but define anyway

    enkfgfs:
        {% set ufs_run = "gfs" %}
        {% filter indent(width=12) %}
        {% include "ufs_resources.yaml.j2" %}
        {% endfilter %}
    enkfgdas:
        {% set ufs_run = "gdas" %}
        {% filter indent(width=12) %}
        {% include "ufs_resources.yaml.j2" %}
        {% endfilter %}

oceanice_products:
    parameters:
        walltime: "00:15:00"
        num_PEs: 1
        mem_per_PE: "max"

upp:
    {% set num_PEs, walltime = (120, "00:15:00") %}

    {% if CASE == "C768" %}
        {% set mem_per_PE = "max" %}
    {% elif CASE == "C192" or CASE == "C96" %}
        {% set mem_per_PE = "default" %}
    {% elif CASE == "C96" or CASE == "C48" %}
        {% set num_PEs, mem_per_PE = ( CASE | replace("C", "") | int, "default" %}
    {% else %}
        {% set num_PEs, mem_per_PE, walltime = ( 0, 0, "00:00:00" %}
    {% endif %}

    parameters:
        walltime: {{ walltime }}
        num_PEs: {{ num_PEs }}
        mem_per_PE: {{ mem_per_PE }}

atmos_products:
    parameters:
        walltime: "00:15:00"
        num_PEs: 24
        mem_per_PE: "2600MB"

verfozn:
    parameters:
        walltime: "00:05:00"
        num_PEs: 1
        mem_per_PE: "1GB"

verfrad:
    parameters:
        walltime: "00:40:00"
        num_PEs: 1
        mem_per_PE: "5GB"

vminmon:
    parameters:
        walltime: "00:05:00"
        num_PEs: 1
        mem_per_PE: "1GB"

tracker:
    parameters:
        walltime: "00:10:00"
        num_PEs: 1
        mem_per_PE: "4GB"

genesis:
    parameters:
        walltime: "00:25:00"
        num_PEs: 1
        mem_per_PE: "10GB"

genesis_fsu:
    parameters:
        walltime: "00:10:00"
        num_PEs: 1
        mem_per_PE: "1GB"

fit2obs:
    parameters:
        walltime: "00:20:00"
        num_PEs: 3
        mem_per_PE: "20GB"

metp:
    gdas:
        walltime: "03:00:00"
    gfs:
        walltime: "06:00:00"

    parameters:
        num_PEs: 4
        mem_per_PE: "20GB"

echgres:
    parameters:
        walltime: "00:10:00"
        num_PEs: 3
        mem_per_PE: "20GB"

init:
    parameters:
        walltime: "00:30:00"
        num_PEs: 24
        mem_per_PE: "12GB"

init_chem:
    parameters:
        walltime: "00:30:00"
        num_PEs: 1
        mem_per_PE: "max"

mom6ic:
    parameters:
        walltime: "00:30:00"
        num_PEs: 24
        mem_per_PE: "3600MB"

arch:
    parameters:
        walltime: "06:00:00"
        num_PEs: 1
        mem_per_PE: "4GB"

earc:
    parameters:
        walltime: "06:00:00"
        num_PEs: 1
        mem_per_PE: "4GB"

getic:
    parameters:
        walltime: "06:00:00"
        num_PEs: 1
        mem_per_PE: "4GB"

cleanup:
    parameters:
        walltime: "00:15:00"
        num_PEs: 1
        mem_per_PE: "4GB"

stage_ic:
    parameters:
        walltime: "00:15:00"
        num_PEs: 1
        mem_per_PE: "max"

atmensanlinit:
    parameters:
        layout_x: @LAYOUT_X_ATMENSANL@
        layout_y: @LAYOUT_Y_ATMENSANL@

        walltime: "00:10:00"
        num_PEs: 1
        mem_per_PE: "3GB"

atmensanlrun:
    parameters:
        layout_x: @LAYOUT_X_ATMENSANL@
        layout_y: @LAYOUT_Y_ATMENSANL@

        walltime: "00:30:00"
        num_PEs: {{ @LAYOUT_X_ATMENSANL@ * @LAYOUT_Y_ATMENSANL@ * 6 }}
        mem_per_PE: "default"

atmensanlfinal:
    parameters:
        walltime: "00:30:00"
        num_PEs: 1
        mem_per_PE: "max"

eomg:
    parameters:
        {% if CASE_ENS == "C384" %}
        num_PEs: 200
        {% elif CASE_ENS == "C192" %}
        num_PEs: 100
        {% else %}
        num_PEs: 40
        {% endif %}

        walltime: "00:30:00"
        threads: 2
        mem_per_PE: "default"

eobs:
    parameters:
        {% set mem_per_PE, threads, walltime = ("default", 2, "00:15:00") %}
        {% if CASE_ENS == "C384" %}
            {% set num_PEs = 200 %}
        {% elif CASE_ENS == "C192" %}
            {% set num_PEs = 100 %}
        {% elif CASE_ENS == "C96" or CASE_ENS == "C48" %}
            {% set num_PEs = 40 %}
        {% else %}
            {% set num_PEs, mem_per_PE, threads, walltime = (0, 0, 0, "00:00:00") %}
        {% endif %}

        num_PEs: {{ num_PEs }}
        walltime: {{ walltime }}
        threads: {{ threads }}
        mem_per_PE: {{ mem_per_PE }}
        adjustable_threads: True

ediag:
    parameters:
        walltime: "00:15:00"
        num_PEs: 48
        mem_per_PE: "1300MB"

eupd:
    parameters:
        {% set walltime = "00:30:00" %}
        {% if CASE_ENS == "C384" %}
            {% set num_PEs, mem_per_PE = (480, "24GB") %}
        {% elif CASE_ENS == "C192" %}
            {% set num_PEs, mem_per_PE = (270, "12GB") %}
        {% elif CASE_ENS == "C96" or CASE_ENS == "C48" %}
            {% set num_PEs, mem_per_PE = (42, "9GB") %}
        {% else %}
            {% set num_PEs, mem_per_PE, walltime = (0, "0", "00:00:00") %}
        {% endif %}

        walltime: {{ walltime }}
        mem_per_PE: {{ mem_per_PE }}
        num_PEs: {{ num_PEs }}

ecen:
    parameters:
        walltime: "00:10:00"
        num_PEs: 80
        {% if CASE_ENS == "C384" %}
        mem_per_PE: "16GB"
        {% else %}
        mem_per_PE: "4700MB"
        {% endif %}

esfc:
    parameters:
        walltime: "00:15:00"
        num_PEs: 80
        mem_per_PE: "max"

epos:
    parameters:
        walltime: "00:15:00"
        num_PEs: 80
        mem_per_PE: "default"

postsnd:
    parameters:
        walltime: "02:00:00"
        num_PEs: 40
        mem_per_PE: "9GB"
        num_PEs_postsndcfp: 9

awips:
    parameters:
        walltime: "03:30:00"
        num_PEs: 1
        mem_per_PE: "3GB"

npoess:
    parameters:
        walltime: "03:30:00"
        num_PEs: 1
        mem_per_PE: "3GB"

gempak:
    parameters:
        walltime: "03:00:00"

    gdas:
        num_PEs: 2
        mem_per_PE: "2GB"
    gfs:
        num_PEs: 28
        mem_per_PE: "100MB"

mos_stn_prep:
    parameters:
        walltime: "00:10:00"
        num_PEs: 3
        mem_per_PE: "2GB"
        PTILE: 3

mos_grd_prep:
    parameters:
        walltime: "00:10:00"
        num_PEs: 4
        mem_per_PE: "4GB"
        PTILE: 4

mos_ext_stn_prep:
    parameters:
        walltime: "00:15:00"
        num_PEs: 2
        mem_per_PE: "3GB"
        PTILE: 2

mos_ext_grd_prep:
    parameters:
        walltime: "00:10:00"
        num_PEs: 7
        mem_per_PE: "500MB"
        PTILE: 7

mos_stn_fcst:
    parameters:
        walltime: "00:10:00"
        num_PEs: 5
        mem_per_PE: "8GB"
        PTILE: 5

mos_grd_fcst:
    parameters:
        walltime: "00:10:00"
        num_PEs: 7
        mem_per_PE: "7GB"
        PTILE: 7

mos_ext_stn_fcst:
    parameters:
        walltime: "00:20:00"
        num_PEs: 3
        mem_per_PE: "16600MB"
        PTILE: 3
        prepost: True

mos_ext_grd_fcst:
    parameters:
        walltime: "00:10:00"
        num_PEs: 7
        mem_per_PE: "7GB"
        PTILE: 7

mos_stn_prdgen:
    parameters:
        walltime: "00:10:00"
        num_PEs: 1
        mem_per_PE: "15GB"
        PTILE: 1
        prepost: True

mos_grd_prdgen:
    parameters:
        walltime: "00:40:00"
        num_PEs: 72
        threads: 4
        mem_per_PE: "2GB"
        PTILE: 72

mos_ext_stn_prdgen:
    parameters:
        walltime: "00:10:00"
        num_PEs: 1
        mem_per_PE: "15GB"
        PTILE: 1
        prepost: True

mos_ext_grd_prdgen:
    parameters:
        walltime: "00:30:00"
        num_PEs: 96
        threads: 16
        mem_per_PE: "15GB"
        PTILE: 96

mos_wx_prdgen:
    parameters:
        walltime: "00:10:00"
        num_PEs: 4
        threads: 2
        mem_per_PE: "2600MB"
        PTILE: 4

mos_wx_ext_prdgen:
    parameters:
        walltime: "00:10:00"
        num_PEs: 4
        threads: 2
        mem_per_PE: "2600MB"
        PTILE: 4

# Allow parameters to be redefined by the machine jinja template, if present
{% if %}
    {%- include machine ~ "_task_resources.yaml.j2" ignore missing %}
{% endif %}
