########## gsi_resources.yaml ##########
# GSI-based analysis resources

# (Standard) Model resolution dependent variables
# Atmosphere resources
{% if CASE == "C768" %}
    {% set gsi_resources =
         {'gdas':{'min_threads':4, 'max_threads':8, 'num_PEs':780, 'walltime':'01:20:00'},
          'gfs' :{'min_threads':4, 'max_threads':8, 'num_PEs':825, 'walltime':'01:00:00'}} %}
{% elif CASE == "C384" %}
    # TODO test if 270 tasks are really neded on Hera
    {% set gsi_resources =
         {'gdas':{'min_threads':8, 'max_threads':10, 'num_PEs':160, 'walltime':'01:20:00'},
          'gfs' :{'min_threads':8, 'max_threads':10, 'num_PEs':160, 'walltime':'01:00:00'}} %}
{% elif CASE == "C192" or CASE == "C96" or CASE == "C48" %}
    {% set gsi_resources =
         {'gdas':{'min_threads':4, 'max_threads':5, 'num_PEs':84, 'walltime':'01:20:00'},
          'gfs' :{'min_threads':4, 'max_threads':5, 'num_PEs':84, 'walltime':'01:00:00'}} %}

# Unknown resolution
{% else %}
    {% set gsi_resources =
         {'gdas':{'min_threads':0, 'max_threads':0, 'num_PEs':0, 'walltime':'00:00:00'},
          'gfs' :{'min_threads':0, 'max_threads':0, 'num_PEs':0, 'walltime':'00:00:00'}} %}
{% endif %}

# Add run-specific information to resources.yaml
walltime: {{ gsi_resources[gsi_run]['walltime'] }}
num_PEs: {{ gsi_resources[gsi_run]['num_PEs'] }}
min_threads: {{ gsi_resources[gsi_run]['min_threads'] }}
max_threads: {{ gsi_resources[gsi_run]['max_threads'] }}
