########## ufs_resources.yaml ##########
# UFS model resource parameters
# This yaml sets default variables for FV3, MOM6, CICE6, GOCART, and WW3

# (Standard) Model resolution dependent variables
# Atmosphere resources
{% if atm_res == "C48" %}
{% set ufs_resources =
       {'nest':{'x':0, 'y':0, 'write_groups':0, 'write_tasks_per_group_thread_tile':0,
                'threads_fv3':0,'threads_ufs':0},
        'gdas':{'x':1, 'y':1, 'write_groups':1, 'write_tasks_per_group_thread_tile':1,
                'threads_fv3':1, 'threads_ufs':1, 'walltime':'00:20:00'},
        'gfs' :{'x':1, 'y':1, 'write_groups':1, 'write_tasks_per_group_thread_tile':1,
                'threads_fv3':1, 'threads_ufs':1, 'walltime':'03:00:00'}} %}

{% elif atm_res == "C96" %}
{% if DO_NEST == True %}
{% set ufs_resources = 
        {'nest':{'x':12, 'y':10, 'write_groups':2, 'write_tasks_per_group_thread_tile':2,
                 'threads_fv3':1, 'threads_ufs':1},
         'gdas':{'x':0, 'y':0, 'write_groups':0, 'write_tasks_per_group_thread_tile':0,
                 'threads_fv3':0, 'threads_ufs':0, 'walltime':'00:20:00'},
         'gfs' :{'x':4, 'y':4, 'write_groups':2, 'write_tasks_per_group_thread_tile':2,
                 'threads_fv3':1, 'threads_ufs':1, 'walltime':'03:00:00'}} %}
{% else %}
{% set ufs_resources = 
        {'nest':{'x':0, 'y':0, 'write_groups':0, 'write_tasks_per_group_thread_tile':0,
                 'threads_fv3':1, 'threads_ufs':1},
         'gdas':{'x':2, 'y':2, 'write_groups':1, 'write_tasks_per_group_thread_tile':1,
                 'threads_fv3':1, 'threads_ufs':1, 'walltime':'00:20:00'},
         'gfs' :{'x':2, 'y':2, 'write_groups':1, 'write_tasks_per_group_thread_tile':1,
                 'threads_fv3':1, 'threads_ufs':1}, 'walltime':'03:00:00'} %}
{% endif %}

{% elif atm_res == "C192" %}
{% if DO_NEST == True %}
{% set ufs_resources = 
        {'nest':{'x':15, 'y':25, 'write_groups':2, 'write_tasks_per_group_thread_tile':15,
                 'threads_fv3':1, 'threads_ufs':1},
         'gdas':{'x':0, 'y':0, 'write_groups':0, 'write_tasks_per_group_thread_tile':0,
                 'threads_fv3':0, 'threads_ufs':0, 'walltime':'00:20:00'},
         'gfs' :{'x':5, 'y':6, 'write_groups':2, 'write_tasks_per_group_thread_tile':15,
                 'threads_fv3':1, 'threads_ufs':1}, 'walltime':'03:00:00'} %}
{% else %}
{% set ufs_resources = 
        {'nest':{'x':0, 'y':0, 'write_groups':0, 'write_tasks_per_group_thread_tile':0,
                 'threads_fv3':0, 'threads_ufs':0},
         'gdas':{'x':4, 'y':6, 'write_groups':1, 'write_tasks_per_group_thread_tile':10,
                 'threads_fv3':1, 'threads_ufs':1, 'walltime':'00:20:00'},
         'gfs' :{'x':4, 'y':6, 'write_groups':2, 'write_tasks_per_group_thread_tile':5,
                 'threads_fv3':2, 'threads_ufs':2}, 'walltime':'03:00:00'} %}
{% endif %}

{% elif atm_res == "C384" %}
{% if DO_NEST == True %}
{% set ufs_resources = 
        {'nest':{'x':34, 'y':24, 'write_groups':2, 'write_tasks_per_group_thread_tile':20,
                 'threads_fv3':1, 'threads_ufs':1},
         'gdas':{'x':8, 'y':8, 'write_groups':2, 'write_tasks_per_group_thread_tile':20,
                 'threads_fv3':1, 'threads_ufs':1, 'walltime':'00:30:00'},
         'gfs' :{'x':8, 'y':8, 'write_groups':2, 'write_tasks_per_group_thread_tile':20,
                 'threads_fv3':1, 'threads_ufs':1}, 'walltime':'06:00:00'} %}
{% else %}
{% set ufs_resources = 
        {'nest':{'x':0, 'y':0, 'write_groups':0, 'write_tasks_per_group_thread_tile':0,
                 'threads_fv3':0, 'threads_ufs':0},
         'gdas':{'x':8, 'y':8, 'write_groups':2, 'write_tasks_per_group_thread_tile':10,
                 'threads_fv3':2, 'threads_ufs':2, 'walltime':'00:30:00'},
         'gfs' :{'x':8, 'y':8, 'write_groups':2, 'write_tasks_per_group_thread_tile':10,
                 'threads_fv3':2, 'threads_ufs':2, 'walltime':'06:00:00'}} %}
{% endif %}

{% elif atm_res == "C768" %}
{% if DO_NEST == True %}
{% set ufs_resources = 
        {'nest':{'x':48, 'y':45, 'write_groups':2, 'write_tasks_per_group_thread_tile':90,
                 'threads_fv3':2, 'threads_ufs':1},
         'gdas':{'x':16, 'y':10, 'write_groups':2, 'write_tasks_per_group_thread_tile':90,
                 'threads_fv3':2, 'threads_ufs':1, 'walltime':'00:30:00'},
         'gfs' :{'x':16, 'y':10, 'write_groups':2, 'write_tasks_per_group_thread_tile':90,
                 'threads_fv3':2, 'threads_ufs':1, 'walltime':'06:00:00'}} %}
{% else %}
{% set ufs_resources = 
        {'nest':{'x':0, 'y':0, 'write_groups':0, 'write_tasks_per_group_thread_tile':0,
                 'threads_fv3':0, 'threads_ufs':0},
         'gdas':{'x':8, 'y':12, 'write_groups':2, 'write_tasks_per_group_thread_tile':10,
                 'threads_fv3':4, 'threads_ufs':4, 'walltime':'00:30:00'},
         'gfs' :{'x':12, 'y':16, 'write_groups':4, 'write_tasks_per_group_thread_tile':20,
                 'threads_fv3':4, 'threads_ufs':4, 'walltime':'06:00:00'}} %}
{% endif %}

# Do not nest above C768
{% elif atm_res == "C1152" %}
# TODO: refine write_tasks_per_group_thread_tile when a case is available
{% set ufs_resources = 
        {'nest':{'x':0, 'y':0, 'write_groups':0, 'write_tasks_per_group_thread_tile':0,
                 'threads_fv3':0, 'threads_ufs':0},
         'gdas':{'x':8, 'y':16, 'write_groups':4, 'write_tasks_per_group_thread_tile':10,
                 'threads_fv3':4, 'threads_ufs':4, 'walltime':'00:30:00'},
         'gfs' :{'x':8, 'y':16, 'write_groups':4, 'write_tasks_per_group_thread_tile':20,
                 'threads_fv3':4, 'threads_ufs':4, 'walltime':'06:00:00'}} %}
{% endif %}

{% elif atm_res == "C3072" %}
# TODO: refine write_tasks_per_group_thread_tile when a case is available
{% set ufs_resources = 
        {'nest':{'x':0, 'y':0, 'write_groups':0, 'write_tasks_per_group_thread_tile':0,
                 'threads_fv3':0, 'threads_ufs':0},
         'gdas':{'x':16, 'y':32, 'write_groups':4, 'write_tasks_per_group_thread_tile':10,
                 'threads_fv3':4, 'threads_ufs':4, 'walltime':'00:30:00'},
         'gfs' :{'x':16, 'y':32, 'write_groups':4, 'write_tasks_per_group_thread_tile':10,
                 'threads_fv3':4, 'threads_ufs':4, 'walltime':'06:00:00'}} %}

# Unknown resolution
{% else %}
{% set ufs_resources = 
        {'nest':{'x':0, 'y':0, 'write_groups':0, 'write_tasks_per_group_thread_tile':0,
                 'threads_fv3':0, 'threads_ufs':0},
         'gdas':{'x':0, 'y':0, 'write_groups':0, 'write_tasks_per_group_thread_tile':0,
                 'threads_fv3':0, 'threads_ufs':0, 'walltime':'00:00:00'},
         'gfs' :{'x':0, 'y':0, 'write_groups':0, 'write_tasks_per_group_thread_tile':0,
                 'threads_fv3':0, 'threads_ufs':0, 'walltime':'00:00:00'}} %}
{% endif %}

# Calculate the number of tasks for each configuration
{% set ufs_resources['nest']['ntasks_fv3'] = ufs_resources['gfs']['x'] * ufs_resources['gfs']['y']
{% set ufs_resources['gdas']['ntasks_fv3'] = ufs_resources['gfs']['x'] * ufs_resources['gfs']['y'] * 6
{% set ufs_resources['gfs']['ntasks_fv3'] = ufs_resources['gfs']['x'] * ufs_resources['gfs']['y'] * 6

# Define common variables for each run
{% for run in ufs_resources %}
{% set ufs_resources[run]['write_tasks_per_group_per_thread'] =
   ufs_resources[run]['write_tasks_per_group_thread_tile'] * 6 %}
{% set ufs_resources[run]['ntasks_quilt'] =
   ufs_resources[run]['write_tasks_per_group_per_thread'] *
   ufs_resources[run]['write_groups'] %}

# Ocean resources
{% if DO_OCN == True %}
{% if ocn_res == "500" %}
{% set ufs_resources[run]['ntasks_mom6'] = 8 %}
{% set ufs_resources[run]['nthreads_mom6'] = 1 %}

{% if ocn_res == "100" %}
{% set ufs_resources[run]['ntasks_mom6'] = 20 %}
{% set ufs_resources[run]['nthreads_mom6'] = 1 %}

{% if ocn_res == "050" %}
{% set ufs_resources[run]['ntasks_mom6'] = 60 %}
{% set ufs_resources[run]['nthreads_mom6'] = 1 %}

{% if ocn_res == "025" %}
{% set ufs_resources[run]['ntasks_mom6'] = 220 %}
{% set ufs_resources[run]['nthreads_mom6'] = 1 %}

{% else %}
{% set ufs_resources[run]['ntasks_mom6'] = 0 %}
{% set ufs_resources[run]['nthreads_mom6'] = 0 %}
{% endif %}
{% endif %} # DO_OCN

# Ice resources
{% if DO_ICE == True %}
{% if ice_res == "500" %}
{% set ufs_resources[run]['ntasks_cice6'] = 4 %}

{% if ocn_res == "100" %}
{% set ufs_resources[run]['ntasks_cice6'] = 10 %}

{% if ocn_res == "050" %}
{% set ufs_resources[run]['ntasks_cice6'] = 30 %}

{% if ocn_res == "025" %}
{% set ufs_resources[run]['ntasks_cice6'] = 120 %}

{% else %}
{% set ufs_resources[run]['ntasks_cice6'] = 0 %}
{% endif %}
# CICE6 uses the same threads as MOM6
{% set ufs_resources[run]['nthreads_cice6'] = ufs_resources[run]['nthreads_mom6'] %}
{% endif %} # DO_ICE

# Wave resources
{% if DO_WAVE == True %}
{% if ww3_res == "gnh_10m;aoc_9km;gsh_15m" %}
{% set ufs_resources[run]['ntasks_ww3'] = 140 %}
{% set ufs_resources[run]['nthreads_ww3'] = 2 %}

{% if ww3_res == "gwes_30m" %}
{% set ufs_resources[run]['ntasks_ww3'] = 100 %}
{% set ufs_resources[run]['nthreads_ww3'] = 2 %}

{% if ww3_res == "glo_025" %}
{% set ufs_resources[run]['ntasks_ww3'] = 262 %}
{% set ufs_resources[run]['nthreads_ww3'] = 2 %}

{% if ww3_res == "glo_200" %}
{% set ufs_resources[run]['ntasks_ww3'] = 30 %}
{% set ufs_resources[run]['nthreads_ww3'] = 1 %}

{% if ww3_res == "glo_500" %}
{% set ufs_resources[run]['ntasks_ww3'] = 12 %}
{% set ufs_resources[run]['nthreads_ww3'] = 1 %}

{% if ww3_res == "mx025" %}
{% set ufs_resources[run]['ntasks_ww3'] = 80 %}
{% set ufs_resources[run]['nthreads_ww3'] = 2 %}

{% if ww3_res == "uglo_100km" %}
{% set ufs_resources[run]['ntasks_ww3'] = 40 %}
{% set ufs_resources[run]['nthreads_ww3'] = 1 %}

{% if ww3_res == "uglo_m1g16" %}
{% set ufs_resources[run]['ntasks_ww3'] = 1000 %}
{% set ufs_resources[run]['nthreads_ww3'] = 1 %}

{% else %}
{% set ufs_resources[run]['ntasks_ww3'] = 0 %}
{% set ufs_resources[run]['nthreads_ww3'] = 0 %}
{% endif %}
{% endif %} # DO_WAVE

{% endfor %}

# Add run-specific information to resources.yaml.j2
walltime: {{ ufs_resources[ufs_run]['walltime'] }}
layout:
    x: {{ ufs_resources[ufs_run]['x']}}
    y: {{ ufs_resources[ufs_run]['y'] }}
    {% if ntiles > 6 %}
    nest:
        x: {{ ufs_resources['nest']['x']}}
        y: {{ ufs_resources['nest']['y'] }}
    {% endif %}
write_groups: {{ ufs_resources[ufs_run]['write_groups'] }}
write_tasks_per_group_per_thread: {{ ufs_resources[ufs_run]['write_tasks_per_group_per_thread'] }}
ntasks_quilt: {{ ufs_resources[ufs_run]['ntasks_quilt'] }}

# Set component tasks
{% if DO_WAVE == True %}
{% endif %}
{% if DO_OCN == True %}
{% endif %}
{% if DO_ICE == True %}
{% endif %}

# Set ESMF threading resources
{% if USE_ESMF_THREADING == True %}
{% set nthreads_fv3 = 1 %}
{% set UFS_THREADS = 1 %}
{% set nthreads_mediator = 1 %}
{% if DO_WAVE == True %}
{% set nthreads_ww3 = ufs_resources[ufs_run]['nthreads_ww3'] %}
{% endif %}
{% if DO_OCN == True %}
{% set nthreads_mom6 = ufs_resources[ufs_run]['nthreads_mom6'] %}
{% endif %}
{% if DO_ICE == True %}
{% set nthreads_cice6 = ufs_resources[ufs_run]['nthreads_cice6'] %}
{% endif %}

{% else %}
# Set traditional threading resources
{% set nthreads_fv3 = 1 %}
{% set UFS_THREADS = ufs_resources[ufs_run]['nthreads_ufs'] %}
{% set nthreads_mediator = 1 %}
{% if DO_WAVE == True %}
{% set nthreads_ww3 = 1 %}
{% endif %}
{% if DO_OCN == True %}
{% set nthreads_mom6 = 1 %}
{% endif %}
{% if DO_ICE == True %}
{% set nthreads_cice = 1 %}
{% endif %}
{% endif %}
UFS_THREADS: {{ UFS_THREADS }}

# Calculate quilting PETs and write tasks per group
{% if QUILTING == True %}
{% set QUILTPETS = ufs_resources[ufs_run]['ntasks_quilt'] * nthreads_fv3 %}
WRTTASK_PER_GROUP: {{ ufs_resources[ufs_run]['ntasks_quilt'] * nthreads_fv3 }}
{% else %}
{% set QUILTPETS = 0 %}
WRTTASK_PER_GROUP: 0
{% endif %}

# Set component PETs/threads
# ATM
{% set ntasks_fv3 = ufs_resources[ufs_run]['ntasks_fv3'] %}
{% set FV3PETS = ntasks_fv3 * nthreads_fv3 %}
{% set ATMTHREADS = nthreads_fv3 %}
{% set ATMPETS = FV3PETS + QUILTPETS %}
ntasks_fv3: {{ ntasks_fv3 }}
ATMTHREADS: {{ ATMTHREADS }}
ATMPETS: {{ ATMPETS }}

# Mediator
###NOTE
# The mediator PETS can overlap with other components, usually it lands on the atmosphere tasks.
# However, it is suggested limiting mediator PETS to 300, as it may cause the slow performance.
# See https://docs.google.com/document/d/1bKpi-52t5jIfv2tuNHmQkYUe3hkKsiG_DG_s6Mnukog/edit
###
# TODO: Update reference when moved to ufs-weather-model RTD
{% if FV3PETS < 300 %}
{% set MEDPETS = FV3PETS %}
{% else %}
{% set MEDPETS = 300 %}
{% endif %}
MEDPETS: {{ MEDPETS }}

# CHEM
# GOCART shares the same grid and forecast tasks as FV3 (do not add write grid component tasks).
{% if DO_AERO == True %}
{% set CHMPETS = FV3PETS %}
{% set CHMTHREADS = ATMTHREADS %}
{% else %}
{% set CHMPETS, CHMTHREADS = (0, 0) %}
{% endif %}
CHMPETS: {{ CHMPETS }}
CHMTHREADS: {{ CHMTHREADS }}

# WAVE
{% if DO_WAVE == True %}
{% set ntasks_ww3 = ufs_resources[ufs_run]['ntasks_ww3'] %}
{% set WAVPETS = ntasks_ww3 * nthreads_ww3 %}
{% set WAVTHREADS = nthreads_ww3 %}
ntasks_ww3: {{ ufs_resources[ufs_run]['ntasks_ww3'] }}
{% else %}
{% set ntasks_ww3, WAVPETS, WAVTHREADS = (0, 0, 0) %}
{% endif %}
WAVPETS: {{ WAVPETS }}
WAVTHREADS: {{ WAVTHREADS }}

# OCN
{% if DO_OCN == True %}
{% set ntasks_mom6 = ufs_resources[ufs_run]['ntasks_mom6'] %}
{% set OCNPETS = ntasks_mom6 * nthreads_mom6 %}
{% set OCNTHREADS = nthreads_mom6 %}
{% else %}
{% set ntasks_mom6, OCNPETS, OCNTHREADS = (0, 0, 0) %}
{% endif %}
ntasks_mom6: {{ ntasks_mom6 }}
OCNPETS: {{ OCNPETS }}
OCNTHREADS: {{ OCNTHREADS }}

# ICE
{% if DO_ICE == True %}
{% set ntasks_cice6 = ufs_resources[ufs_run]['ntasks_cice6'] %}
{% set ICEPETS = ntasks_cice6 * nthreads_cice6 %}
{% set ICETHREADS = nthreads_cice6 %}
{% else %}
{% set ICEPETS, ICETREADS = (0, 0) %}
{% endif %}
ntasks_cice6: {{ ufs_resources[ufs_run]['ntasks_cice6'] }}
ICEPETS: {{ ICEPETS }}
ICETHREADS: {{ ICETHREADS }}

# Now sum up the total tasks, skipping GOCART and the mediator.
{% set NTASKS_TOT = ATMPETS + WAVPETS + OCNPETS + ICEPETS %}
num_tasks: {{ NTASKS_TOT }}
